{% extends 'base.html' %} {% block title %}Hospital Staff{% endblock %} {% block navigation %}
<li class="active">
    <a href="{% url 'lab_staff' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">Home</a>
</li>
<li>
    <a href="{% url 'lab_staff_search' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">View Patient Diagnosis</a>
</li>
<li>
    <a href="{% url 'lab_tests' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">Test Records</a>
</li>
{% endblock %} {% block content%}
<br>
<div id="Appointments ">
    {% for c in diag %}
    <li>
        <p>Diagnosis ID: {{c.diagnosisID}} </p>
        <p>Diagnosis: {{ c.diagnosis}}</p>
        <p>Test Recommendation: {{ c.recommendations}}</p>
        <p>Doctor Name: {{ c.doctorName}}</p>
    </li>
    {% endfor %}
</div>
{% endblock %}