{% extends 'base.html' %} {% block title %}Hospital Staff{% endblock %} {% block navigation %}
<li>
    <a href="{% url 'lab_staff' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">Home</a>
</li>
<li>
    <a href="{% url 'lab_staff_search' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">View Patient Diagnosis</a>
</li>
<li>
    <a href="{% url 'lab_tests' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">Test Records</a>
</li>
<br> {% endblock %} {% block content%}
<div id="Appointments ">
    {% for c in requests %}
    <li>
        <p>Patient Name: {{c.PatientName}} </p>
        <p>Diagnosis: {{ c.Diagnosis}}</p>
        <p>Test Recommendation: {{ c.Recommendations}}</p>
        <a href="{% url 'lab_staff_approve' c.testID %}" style="color: black;font-size: 10px;text-decoration: none;padding: 10px;border-style: solid;background-color: gray;">Approve</a>
        <a href="{% url 'lab_staff_reject' c.testID %}" style="color: black;font-size: 10px;text-decoration: none;padding: 10px;border-style: solid;background-color: gray;">Reject</a>
    </li>
    {% endfor %}
</div>
{% block content%}