{% extends 'Patient/patient.html' %}
{% block content %}
   
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style media="screen">
        a:link {
            text-decoration: none;
        }

        h6 {
            text-align: center;
        }

        .row {
            margin: 100px;
        }
    </style>
</head>

<!-- <body> -->
    <br><br>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Your Diagnosis</h6>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>diagnosisID</th>
                        <th>doctorID</th>
                        <th>patientID</th>
                        <th>appointmentID</th>
                        <th>diagnosis</th>
                        <th>test_recommendation</th>
                        <th>prescription</th>
                    </tr>
                </thead>
                {% for a in patient_diagnosis_details %}
                <tr>
                    
                    <td> {{a.diagnosisID}}</td>
                    <td>{{a.doctorID.doctorID}}</td>
                    <td>{{a.patientID.patientID}}</td>
                    <td> {{a.appointmentID.appointmentID}}</td>
                    <td>{{a.diagnosis}}</td>
                    <td>{{a.test_recommendation}}</td>
                    <td>{{a.prescription}}</td>
                    
                </tr>
                {% endfor %}
               
            </table>
        </div>
    </div>
<!-- </body> -->
<!-- </html> -->
{% endblock content %}