{% extends 'base.html' %} {% block navigation %}
<li>
  <a href="{% url 'patient_appointment' user.username %}">Appointments</a>
</li>
<li>
  <a href="{% url 'patient_diagnosis' user.username %}">Diagnosis</a>
</li>
<li>
  <a href="{% url 'patient_prescription' user.username %}">Prescription</a>
</li>
<li>
  <a href="{% url 'patient_labtest' user.username %}">Lab Tests</a>
</li>
<li>
  <a href="{% url 'patient_details' user.username %}">Patient Details</a>
</li>
{% endblock navigation %} 
{% block content %}
{% endblock content %}
{% block chatbot %}

<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
  <form action="/patient" class="form-container">
    <h1>Chat</h1>
    
    <label for="msg"><b>Message</b></label>
    <div id="userInput">
      <textarea
      id="textInput"
      placeholder="Type your message"
      name="msg"
      rows="10"
      cols="50"
      required
      ></textarea>
      <p id="textoutput" name="textoutput"></p>
      
      <button type="submit" onclick="getResponse()" class="btn">Send</button>
      <button
      type="button"
      id="buttonInput"
      class="btn cancel"
      onclick="closeForm()"
      >
      Close
    </button>
  </div>
</form>
</div>

<script>
  function openForm() {
    document.getElementById('myForm').style.display = 'block';
  }
  
  function closeForm() {
    document.getElementById('myForm').style.display = 'none';
  }
</script>

<script>
  function getResponse() {
    let userText = $('#textInput').val();
    // let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
    // $("#textoutput").append();
    document
    .getElementById('userInput')
    .scrollIntoView({ block: 'start', behavior: 'smooth' });
    $.get('/bot', { msg: userText }).done(function (data) {
      // var botHtml = '<p class="botText"><span>' + data + '</span></p>';
      console.log(data);
      $('#textoutput').val('');
      //$("#textoutput").val(data)
      if (data.startsWith('Navigate')) {
        var user = '{{user.username}}';
        var temp = data.substring(12);
        var temp2 = data.substring(35);
        var finalurl = temp + '/' + user;
        
        var botHtml =
        '<p>Go to:<a href="' + finalurl + '">' + temp2 + '</a></p>';
        document.getElementById('textoutput').innerHTML = botHtml;
        $('#textoutput').innerHtml = botHtml;
      } else {
        var botHtml = '<p class="botText"><span>' + data + '</span></p>';
        document.getElementById('textoutput').innerHTML = botHtml;
        $('#textoutput').innerHtml = botHtml;
      }
      // document.getElementById('textoutput').append(data);
      // $('#txtarea').append(document.createTextNode($(this).val()));
      // $("#textoutput")
      document
      .getElementById('userInput')
      .scrollIntoView({ block: 'start', behavior: 'smooth' });
    });
    $('#textInput').val('');
  }
  $('#textInput').keypress(function (e) {
    //if enter key is pressed
    if (e.which == 13) {
      getResponse();
    }
  });
  $('#buttonInput').click(function () {
    getResponse();
  });
</script>
{% endblock chatbot %}


