{% extends 'Doctor\doctor_navbar.html' %}

{% block content %}

<style>
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
     
</style>

<h1>Patients diagnosis</h1>
<table>
    <tr>
        <th>Patient ID</th>
        <th>Doctor ID</th>
        <th>Appointment ID</th>
        <th>Diagnosis</th>
        <th>Test Recommendation</th>
        <th>Prescription</th>
        <th>Update</th>
        <th>Modify</th>
      </tr>
      {% for i in appointments %}
      <tr>
        <th> {{ i.patientID }}</th>
        <th> {{ i.doctorID }}</th>        
        <th> {{ i.appointmentID }}</th>
        <th> {{ i.diagnosis }}</th>
        <th> {{ i.test_recommendation }}</th>
        <th> {{ i.prescription }}</th>
        <th> 
            <div class="btn-group">
                <a href="#"> <button type="button" class="btn btn-secondary">Update</button> </a>
            </div>
        </th>
        <th>
            <div class="btn-group"></div>
                <a href="#"> <button type="button" class="btn btn-secondary">Modify</button> </a>
            </div>
        </th>
      </tr> 
      {% endfor %}
</table>

{% endblock content %}