{% extends 'base.html' %}
{% block title %}Doctor{% endblock %} 

{% block navigation %}
<li>
<a href="/doctor_view_appointment_view">My Appointments</a>
</li>
<li>
<a href="/doctor_view_patientlist">Patient Records</a>
</li>
<li>
<a href="/doctor_view_labreport_view">Lab Test Reports</a>
</li>
<!-- <form class="navbar-form navbar-left" id="text" method="POST" action="{% url 'doctor_search' %}">
    {% csrf_token %}
    <div class="form-group">
    <input type="search" class="form-control me-2" placeholder="Appointment ID" name="searched"> 
    </div>
    <button type="submit"><i class="fa fa-search"></i></button>
</form> -->
{% endblock %}
