{% extends 'Doctor\doctor_navbar.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
        navbar {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
            margin-right: 10px;
        }
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        h1{text-align: center;}

</style>

<body>
          

    <!-- <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="doctor-book-appointment.html"> <button style="font-size:24px;color:red"><i class="fa fa-plus" ></i></button></a>
        </div>
    </div> -->
    <!-- viewing doctor's Appointments -->
    <h1>Appointments</h1>
    <div class="vertical-center">
        <a href="doctor-book-appointment.html"> <button style="font-size:18px;color:red"><span style="color: grey">Add Appointment</span> <i class="fa fa-plus" ></i></button></a>
    </div>
    <br>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
          </tr>
          {% for i in appointments %}
          <tr>
            <th> {{ appointments.name }}</th>
            <th> {{ appointments.date }}</th>
          </tr> 
          {% endfor %}
    </table>
</body>
</html>
{% endblock content%}