{% extends 'Doctor/doctor_navbar.html' %}
{% load widget_tweaks %}
{% block content %}

<br><br>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="note">
          <p>Lab Tests</p>
        </div>
        <div class="form-content">
          <div class="row">
              <div class="form-group">
                {% render_field RecommendLabTest.test_recommendation class="form-control" placeholder="test_recommendation" %}
              </div>
              <button type="submit" class="btnSubmit">Enter</button>
          </div>
        </div>
</form>

{% endblock content%}
