{% extends 'Patient/patient.html' %}
{% block content %}
   
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style media="screen">
        a:link {
            text-decoration: none;
        }

        h6 {
            text-align: center;
        }

        .row {
            margin: 100px;
        }
    </style>
</head>

<!-- <body> -->
    <br><br>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Payments and previous transactions</h6>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>paymentID</th>
                        <th>amount</th>
                        <th>status</th>
                        <th>patientID</th>
                        <th>testID</th>
                        <th>appointmentID</th>
                        <th>Make Payment</th>
                    </tr>
                </thead>
                {% for a in patient_payments %}
                <tr>
                    
                    <td> {{a.paymentID}}</td>
                    <td>{{a.amount}}</td>
                    <td>{{a.status}}</td>
                    <td> {{a.patientID.patientID}}</td>
                    <td>{{a.testID.testID}}</td>
                    <td>{{a.appointmentID.appointmentID}}</td>
                    <td > <a href="{% url 'patient_make_payment' a.paymentID %}"><i class="fas fa-wallet"></i> </a> </td>
                    
                </tr>
                {% endfor %}
               
            </table>
        </div>
    </div>
<!-- </body> -->
<!-- </html> -->
{% endblock content %}