<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
        /* Style the tab */
        /* Style the buttons inside the tab */
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <span style="max-width: 10px;">
            space for logo |
        </span>
        <span style="color:black;font-size: 50px;">
            Secure Hospital System
        </span>
    </div>

    <br>

    <div class="tab" style="margin-left: -9px; margin-right: -8px;background-color:whitesmoke;border: whitesmoke;">
        <input type="button" class="tablinks" onclick="openCity(event, 'Appointments')" value="Appointments" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver">
        <input type="button" class="tablinks" onclick="openCity(event, 'Transactions')" value="Create Payment" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver;">
        <input type="button" class="tablinks" onclick="openCity(event, 'View Patient Records')" value="View Patient Records" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver;">
    </div>


    <script>
    </script>

</body>

</html>