<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Update Patients</title>
    <style>
        body {
            font-family: Arial;
        }
        
        a:hover:not(.active) {
            background-color: whitesmoke;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <ul style="color:black;font-size: 30px;list-style-type: none;margin: 0;padding: 5px;">
            Secure Hospital System
            <a href="{% url 'hospital_staff_appointments' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Appointments</a>
            <a href="{% url 'hospital_staff_create_payment' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Create Payment</a>
            <a href="{% url 'hospital_search_patients' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> View Patient Records</a>
            <a href="/accounts/logout" style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Log Out</a>
        </ul>
    </div>

    <br>

    <br>
    <form action="/hospital_transaction/" method="post">
        {% csrf_token %} {{ form }}
        <input type="Submit" value="Submit">
    </form>

</body>

</html>