<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
        
        a:hover:not(.active) {
            background-color: whitesmoke;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
    </div>

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <ul style="color:black;font-size: 30px;list-style-type: none;margin: 0;padding: 5px;">
            Secure Hospital System
            <a href="{% url 'hospital_staff_appointments' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Appointments</a>
            <a href="{% url 'hospital_staff_create_payment' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Create Payment</a>
            <a href="{% url 'hospital_search_patients' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> View Patient Records</a>
            <a href="/accounts/logout" style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Log Out</a>
        </ul>
    </div>

    <div id="Appointments ">
        {% for app in appointments %}
        <li>
            <p>Patient Name: {{ app.patientName }}</p>
            <p>Type: {{ app.type}}</p>
            <p>Date: {{ app.date}}</p>
            <p>Time: {{ app.time}}</p>
            <p>Doctor: {{ app.doctorName }}</p>
            <p>Status: {{ app.status }}</p>
            <a href="{% url 'hospital_appointment_approve' app.appointmentID %}" style="color: black;font-size: 10px;text-decoration: none;padding: 10px;border-style: solid;background-color: gray;">Approve Funds</a>
        </li>
        {% endfor %}

    </div>

</body>

</html>