<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
        /* Style the tab */
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <span style="color:black;font-size: 50px;">
            Secure Hospital System
        </span>
        <input type="submit" class="tablinks" onclick="appointments()" value="Appointments" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver">
        <input type="button" class="tablinks" onclick="transactions()" value="Create Payment" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver;">
        <input type="button" class="tablinks" onclick="search()" value="View Patient Records" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver;">
        <a href="/accounts/logout">Log out</a>
    </div>

    <br>


    <div>
        <div>Patient ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></div> <br>
        <div>Patient Name: <input type="text"></div> <br>
        <br>
        <input type="button" value="search" style="padding: 14px 14px;transition: 0.3s;font-size: 17px;">
    </div>
    <br>
    <div>
        {% for p in patients %}
        <br>
        <li>
            <p>Patient ID: {{ p.patientID }}</p>
            <p>Patient Name: {{ p.name }}</p>
            <p>Patient Age: {{ p.age}}</p>
            <p>Patient Gender: {{ p.gender }}</p>
            <p>Patient Height: {{ p.height }}</p>
            <p>Patient Weight: {{ p.weight }}</p>
            <p>Patient Insurace ID: {{ p.insuranceID }}</p>
        </li>
        {% endfor %}
    </div>

    <script>
        function appointments() {
            window.location.href = "hospital_staff_appointments";
        }

        function transactions() {
            window.location.href = "hospital_staff_create_payment";
        }

        function search() {
            window.location.href = "hospital_search_patients";
        }
    </script>

</body>

</html>