<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <span style="color:black;font-size: 50px;">
            Secure Hospital System
        </span>
        <input type="submit" class="tablinks" onclick="appointments()" value="Appointments" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver">
        <input type="button" class="tablinks" onclick="transactions()" value="Create Payment" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver;">
        <input type="button" class="tablinks" onclick="search()" value="View Patient Records" style="font-size: 18px;width: 200px;height: 50px;font-weight: bold;background-color:silver;">
    </div>

    <br>


    <div id="Appointments">
        {% for app in appointments %}
        <li>
            <p>Patient Name: {{ app.patientName }}</p>
            <p>Type: {{ app.type}}</p>
            <p>Date: {{ app.date}}</p>
            <p>Time: {{ app.time}}</p>
            <p>Doctor: {{ app.doctorName }}</p>
            <p>Status: {{ app.status }}</p>
            <a href="hospital_staff_approve/{{app.ID}}">Approve</a>
            <a href="hospital_staff_reject/{{app.ID}}">Reject</a>
        </li>
        {% endfor %}

    </div>


    <script>
        function appointments(){
            window.location.href="hospital_staff_appointments";
        }
        function transactions(){
            window.location.href="hospital_staff_create_payment";
        }
        function search(){
            window.location.href="hospital_search_patients";
        }  
    </script>

</body>

</html>