<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
        /* Style the tab */
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
    </div>

    <div>
        <form>
            <br><span>Patient ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"> </span>
            <br><br><span>Test ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"> </span>
            <br><br><span>Appointment ID:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"> </span>
            <br><br><span>Amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"> </span>
            <br><br><input type="submit" value="Create New Payment">
        </form>
    </div>

    <script>
    </script>

</body>

</html>