<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
        
        a:hover:not(.active) {
            background-color: whitesmoke;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <ul style="color:black;font-size: 30px;list-style-type: none;margin: 0;padding: 5px;">
            Secure Hospital System
            <a href="{% url 'hospital_staff_appointments' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Appointments</a>
            <a href="{% url 'hospital_staff_create_payment' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Create Payment</a>
            <a href="{% url 'hospital_search_patients' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> View Patient Records</a>
            <a href="/accounts/logout" style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Log Out</a>
        </ul>
    </div>

    <br>

    <div>
        <div>Patient ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></div> <br>
        <div>Patient Name: <input type="text"></div> <br>
        <br>
        <input type="button" value="search" style="padding: 14px 14px;transition: 0.3s;font-size: 17px;">
    </div>
    <br>
    <div>
        {% for p in patients %}
        <br>
        <li>
            <p>Patient ID: {{ p.patientID }}</p>
            <p>Patient Name: {{ p.name }}</p>
            <p>Patient Age: {{ p.age}}</p>
            <p>Patient Gender: {{ p.gender }}</p>
            <p>Patient Height: {{ p.height }}</p>
            <p>Patient Weight: {{ p.weight }}</p>
            <p>Patient Insurace ID: {{ p.insuranceID }}</p>
        </li>
        {% endfor %}
    </div>

</body>

</html>