<!DOCTYPE html>
<html>

<head>
    <title>Hospital Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <span style="color:black;font-size: 50px;">
            Secure Hospital System
        </span>
        <a href="{% url 'hospital_staff_appointments' %}">Appointments</a>
        <a href="{% url 'hospital_staff_create_payment' %}">Create Payment</a>
        <a href="{% url 'hospital_search_patients' %}">View Patient Records</a>
        <a href="/accounts/logout">Log out</a>
    </div>

    <br>


    <div id="Appointments">
        {% for app in appointments %}
        <li>
            <p>Patient Name: {{ app.patientName }}</p>
            <p>Type: {{ app.type}}</p>
            <p>Date: {{ app.date}}</p>
            <p>Time: {{ app.time}}</p>
            <p>Doctor: {{ app.doctorName }}</p>
            <p>Status: {{ app.status }}</p>
            <a href="{% url 'hospital_appointment_approve' app.appointmentID %}">Approve</a>
            <a href="{% url 'hospital_appointment_reject' app.appointmentID %}">Reject</a>
        </li>
        {% endfor %}

    </div>

</body>

</html>