<!DOCTYPE html>
<html>

<head>
    <title>Insurance Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <span style="max-width: 10px;">
            space for logo |
        </span>
        <span style="color:black;font-size: 50px;">
            Secure Hospital System
        </span>
    </div>

    <br>


    <div id="Claims">
        <p>Patient ID: {{ obj.patientID }}</p>
        <p>Payment ID: {{ obj.paymentID }}</p>
        <p>Amount: {{ obj.amount }}</p>
        <p>Test ID: {{ obj.testID }}</p>
        <p>Appointment ID: {{ obj.appointmentID }}</p>
        <p>Status: {{ obj.status }}</p>
        <p>Created on: {{ obj.created_on }}</p>

    </div>


    <script>
    </script>

</body>

</html>