<!DOCTYPE html>
<html>

<head>
    <title>Insurance Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <span style="color:black;font-size: 50px;">
            Secure Hospital System
        </span>
        <a href="/accounts/logout">Log out</a>
    </div>

    <br>

    <div id="Claims">
        {% for c in obj %}
        <li>
            <p>Patient ID: {{ c.patientID }}</p>
            <p>Payment ID: {{ c.paymentID }}</p>
            <p>Requst ID: {{ c.request_id }}</p>
            <p>Status: {{ c.status }}</p>
        </li>
        {% endfor %}

    </div>


    <script>
    </script>

</body>

</html>