<!DOCTYPE html>
<html>

<head>
    <title>Insurance Staff Page</title>
    <style>
        body {
            font-family: Arial;
        }
        
        a:hover:not(.active) {
            background-color: whitesmoke;
        }
    </style>

</head>

<body style="background-color:whitesmoke">

    <div style="margin-left: -8px; margin-right: -8px;margin-top: -8px;background-color:gray">
        <ul style="color:black;font-size: 30px;list-style-type: none;margin: 0;padding: 5px;">
            Secure Hospital System
            <a href="{% url 'lab_staff' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">Home</a>
            <a href="{% url 'lab_staff_search' %} " style="color: black;font-size: 25px;text-decoration: none;padding: 10px;">View Patient Diagnosis</a>
            <a href="/accounts/logout" style="color: black;font-size: 25px;text-decoration: none;padding: 10px;"> Log Out</a>
        </ul>
    </div>

    <br>


    <div id="Appointments ">
        {% for c in requests %}
        <li>
            <p>Patient Name: {{c.PatientName}} </p>
            <p>Diagnosis: {{ c.Diagnosis}}</p>
            <p>Test Recommendation: {{ c.Recommendations}}</p>
            <a href="{% url 'lab_staff_approve' c.testID %}" style="color: black;font-size: 10px;text-decoration: none;padding: 10px;border-style: solid;background-color: gray;">Approve</a>
            <a href="{% url 'lab_staff_reject' c.testID %}" style="color: black;font-size: 10px;text-decoration: none;padding: 10px;border-style: solid;background-color: gray;">Reject</a>

        </li>
        {% endfor %}

    </div>

</body>

</html>